body{
  background-color: lightgray;
}

h2{
  font-style: italic;
  color: rgba(76, 74, 181, 1);
}

h3{
  color: rgba(33, 66, 5, 1);
  transition: background-color 1s ease 0.5s;

}

h3:hover{
  background-color: white;
}

img{
  border: 3px solid black;
  padding: 1rem;
}

ul{
  list-style-type: none;
  background-color: darkgray;
  margin: 0;
  padding: 0.5rem;
}

p::first-letter{
  font-size: 130%;
}

.navbar{
  display: inline;
  margin: 1rem;
}

.navbar a{
  text-decoration: none;
  color: white;
  transition: font-size 2s ease-in 0.5s;
}

.navbar a:hover{
  color: black;
  font-size: 150%;
}

.paragraph{
  font-family: helvetica;
  margin: 2rem;
}

.header{
  color: hsla(305, 42%, 23%, 1);
  font-family: sans-serif;
}

.descrip{
  font-style: italic;
  font-family: 'Gentium Basic', serif;
}

.credentials li:nth-child(2n){
  font-weight: bolder;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

a[href="#"]{
  background-color: gray;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

a[href="https://github.com/tkwest2014/semantic-elements"]{
  background-color: gray;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.fa-facebook{
  color: blue;
}

button, input, select, textarea{
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 2rem;
}

input[type=submit]{
  width: 50%;
  background-color: lightgray;
}

input{
  border-radius: 10rem;
}

fieldset input{
  display: inline;
}

.checkbox input{
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox label{
  padding-left: 7rem;
}

.checkmark {
  position: absolute;
  background-color: white;
  height: 1rem;
  width: 1rem;
  margin-left: 1rem;
}

.checkbox input:checked ~ .checkmark  {
  background-color: darkgray;
}
